name: Node CI

on: [pull_request]

jobs:
  build:
    timeout-minutes: 20

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Try out next release
        id: changesets
        uses: ./
        with:
          nextRelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
